@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  padding: 0;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title{
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-self: center;
  padding-left: 64px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  padding-top: 100px;
}

.two-columns {
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two__columns__brief {
  padding: 0;
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  padding: 0;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

.cards {
  width: 920px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.cards__item {
  width: 240px;
  margin: 0;
  padding: 60px 100px 0 0;
  list-style: none;
}

/* 3n - на случай добавления карточек*/
.cards__item:nth-child(3n) {
  padding-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 43px 0 0 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 16px 5px 0;
}

.video {
  padding-top: 100px;
  position: relative;
  min-height: 440px;
}

.video__set {
  width: 1050px;
  height: 316px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /*273px(сверху от начала блока video) = 100px(padding-top) + 89px(section-style) + 34px(section-subtitle) + 50px(отступ от video__set)*/
  top: 273px;
  /*центрирование по горизонтали*/
  left: 50%;
  margin-left: -525px;
}

.video__item {
  border: 0;
}
.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  padding-top: 80px;
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding: 70px 0 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: auto;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000;
  z-index: 2;
}

.feynman__link:hover {
  cursor: pointer;
  color: #2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  list-style: none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.table__text {
  padding: 20px 0 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.khan {
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin: auto;
  padding: 105px 0 0 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 50px 0 36px 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.khan__book-container {
  padding: 0;
  margin: 0;
}
.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin: 10px 0 68px 0;
}

.khan__book-pic {
  padding: 0;
  margin: 0;
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top center;
}

.khan__buy-link {
  /*В макете, скорее всего, имелось в виду использование flex для .khan__book-container, но тогда пространство снизу блока .khan__buy-link тоже будет ссылкой. Поэтому использовал inline. Или есть другие варианты?*/
  display: inline;
  padding: 0;
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  vertical-align: top;
}

.kaufman {
  overflow: hidden;
  background-color: #1f1f1f;
  position: relative;
  z-index: 0;
}

.section-title_theme_dark {
  color: #eee;
  margin-top: 90px;
}

.section-subtitle_theme_dark {
  color: #eee;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.resources {
  padding: 100px 0 217px;
}

.resources__logo-zone {
  margin: auto;
  width: 1100px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.logo-zone {
  width: 270px;
  height: 38px;
  border: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  margin: auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #eee;
  padding: 18px 0;
}

.footer__column-heading {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #eee;
  padding-bottom: 20px;
}

.footer__column-links {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #eee;
  list-style: none;
  padding-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #eee;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__social-icon {
  padding-right: 10px;
}
