.video__set {
  width: 1050px;
  height: 316px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  /*273px(сверху от начала блока video) = 100px(padding-top) + 89px(section-style) + 34px(section-subtitle) + 50px(отступ от video__set)*/
  top: 273px;
  /*центрирование по горизонтали*/
  left: 50%;
  margin-left: -525px;
}
