.khan__buy-link {
  padding: 0;
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  vertical-align: top;
  transition: opacity .3s;
  opacity: 1;
  align-self: start;
}

.khan__buy-link:hover {
  opacity: .3;
}
